#IndexView .topNavBar {
  padding: 10px 12px;
  background-color: #409eff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#IndexView .topNavBar .navInput {
  flex: 1;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 0.1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#IndexView .topNavBar .navInput input {
  width: 90%;
  outline: none;
  border: 0;
}
#IndexView .topNavBar .btnContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
#IndexView .topNavBar .btnContent img {
  margin-bottom: 2px;
  width: 18px;
}
#IndexView .topNavBar .btnContent span {
  zoom: 0.8;
}
#IndexView .cateNavBar {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}
#IndexView .cateNavBar .rv-tabs__wrap {
  height: 35px;
}
#IndexView .articleContainer {
  padding: 0 12px;
}
