._ArticleItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .1875rem;

  .title {
    font-size: .4688rem;
    font-weight: bold;
    margin-bottom: .1875rem;
  }
}