.MoreBtn {
  width: 100%;
  padding: .3125rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .4063rem;
  margin: .3125rem 0;
  .btn {
    display: flex;
    align-items: center;
    svg {
      position: relative;
      top: 1px;
      margin-left: .1563rem;
    }
  }
}