.MoreBtn {
  width: 100%;
  padding: 0.3125rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.4063rem;
  margin: 0.3125rem 0;
}
.MoreBtn .btn {
  display: flex;
  align-items: center;
}
.MoreBtn .btn svg {
  position: relative;
  top: 1px;
  margin-left: 0.1563rem;
}
