#ReportDetail .detailContainer .item {
  border-bottom: 0 !important;
  padding: 10px 12px 0 !important;
}
#ReportDetail .detailContainer .picInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#ReportDetail .detailContainer .picInfo .rv-image {
  margin: 0 6px 6px 0;
}
#ReportDetail .detailContainer .detailItem {
  padding: 10px 12px;
}
#ReportDetail .detailContainer .detailItem:not(:last-child) {
  border-bottom: 8px solid #f7f7f7;
}
#ReportDetail .detailContainer .detailItem .detailTitle {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 6px;
}
#ReportDetail .detailContainer .detailItem .otherInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  padding: 10px 0;
}
#ReportDetail .detailContainer .detailItem .otherInfo:not(:last-child) {
  border-bottom: 1px solid #e7e7e7;
}
#ReportDetail .detailContainer .detailItem .otherInfo .leftInfo {
  font-weight: bold;
}
#ReportDetail .detailContainer .detailInfo {
  font-size: 13px;
}
#ReportDetail .detailContainer .detailInfo .ArticleItem {
  padding: 0;
}
#ReportDetail .detailContainer .rv-steps {
  padding: 0;
}
