#SearchNav {
  padding: 6px 12px;
  background-color: #409eff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#SearchNav .backBtn {
  display: flex;
  align-items: center;
  margin-right: 7px;
}
#SearchNav .backBtn .rv-icon-arrow-left {
  font-size: 23px;
}
#SearchNav .navInput {
  flex: 1;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#SearchNav .navInput input {
  width: 90%;
  outline: none;
  border: 0;
  font-size: 13px;
  position: relative;
  top: 1px;
}
#SearchNav .navInput .rv-icon-search {
  font-size: 15px;
  position: relative;
  top: 1px;
}
#SearchNav .btnContent {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 12px;
  align-items: center;
}
#SearchNav .btnContent img {
  margin-bottom: 3px;
  width: 20px;
}
