#VideoRightInfo {
  width: 60vw;
  position: absolute;
  z-index: 3;
  bottom: 6vh;
  left: 0.3125rem;
  font-size: 0.4375rem;
  transition: 0.3s opacity linear;
}
#VideoRightInfo .infoItem .rv-typography__ellipsis {
  font-size: 0.4375rem;
  color: #fff;
}
#VideoRightInfo .infoItem:not(:last-child) {
  margin-bottom: 0.3125rem;
}
#VideoRightInfo .itemName {
  font-weight: bold;
}
#VideoRightInfo .itemTime {
  font-size: 0.4063rem;
  color: #ccc;
}
#VideoRightInfo .itemTitle {
  margin-bottom: 0.25rem !important;
}
#VideoRightInfo .rv-typography__ellipsis {
  width: 100%;
}
