#VideoRightInfo {
  width: 60vw;
  position: absolute;
  z-index: 3;
  bottom: 6vh;
  left: 10px;
  font-size: 14px;
  transition: .3s opacity linear;
  .infoItem {
    .rv-typography__ellipsis {
      font-size: 14px;
      color: #fff;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .itemName {
    font-weight: bold;
  }
  .itemTime {
    font-size: 13px;
    color: #ccc;
  }
  .itemTitle {
    margin-bottom: 8px !important;
  }
  .rv-typography__ellipsis {
    width: 100%;
  }
}