._CommentItem {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  .commentContent {
    font-weight: bold;
    margin-bottom: 5px;
    word-break:break-all; 
    .rv-typography__ellipsis {
      font-size: 15px;
    }
  }
  .commentData {
    display: flex;
    align-items: center;
    .dataItem {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      font-size: 12px;
      color: #a7a7a7;
      flex: 1;
      span {
        margin-left: 4px;
        position: relative;
        top: -.5px;
        zoom: .9;
      }
    }
  }
  .commentInfo {
    margin-bottom: 10px;
    .infoItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
    }
  }
  .commentBtn {
    display: flex;
    justify-content: flex-end;
  }
}