#CommentList {
  .listContainer {
    padding: .3125rem .375rem;
    .replyTitle {
      padding-bottom: .4688rem;
      font-size: .4063rem;
      font-weight: bold;
    }
  }
  .inputContainer {
    padding: 0.25rem 0.3125rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, .1);
    input {
      width: 90%;
      padding: 0.2188rem 0.3125rem;
      background-color: #f7f7f7;
      outline: none;
      border: 0;
      border-radius: 0.625rem;
    }
    
  }
}