#CommentList .listContainer {
  padding: 10px 12px;
}
#CommentList .listContainer .replyTitle {
  padding-bottom: 15px;
  font-size: 13px;
  font-weight: bold;
}
#CommentList .inputContainer {
  padding: 8px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.1);
}
#CommentList .inputContainer input {
  width: 90%;
  padding: 10px 12px;
  background-color: #f7f7f7;
  outline: none;
  border: 0;
  border-radius: 20px;
  font-size: 13px;
}
