#MessageEdit {
  padding: 10px 12px 8px;
  box-shadow: 0 -1px 10px 1px rgba(0, 0, 0, 0.087);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#MessageEdit .inputContainer {
  padding: 6px 10px;
  flex: 1;
  margin-right: 25px;
  width: 100%;
  outline: none;
  border: 0;
  color: #000;
  border-radius: 6px;
  background-color: #f7f7f7;
}
#MessageEdit .inputContainer input {
  background-color: transparent;
  outline: none;
  border: 0;
  font-size: 13px;
  width: 100%;
}
#MessageEdit .sendBtn {
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s all linear;
}
