#MessageList {
  padding: 12px;
  .MessageItem {
    margin-bottom: 15px;
    .userImg {
      width: 40px;
      height: 40px;
    }
    .messageMe {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .messageOther {
      width: 100%;
      display: flex;
    }
  }
}