#MessageList {
  padding: 12px;
}
#MessageList .MessageItem {
  margin-bottom: 15px;
}
#MessageList .MessageItem .userImg {
  width: 40px;
  height: 40px;
}
#MessageList .MessageItem .messageMe {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#MessageList .MessageItem .messageOther {
  width: 100%;
  display: flex;
}
