.messageContainer {
  overflow-y: scroll;
  background-color: #f8f8f8;
  #MessageList {
    padding: 12px;
    .MessageItem {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      .userImg {
        width: 40px;
        height: 40px;
      }
      .messageMe {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
      .messageOther {
        width: 100%;
        display: flex;
      }
      .message_i {
        width: 85%;
        display: flex;
        justify-content: flex-end
      }
      .message_o {
        width: 85%;
        display: flex;
      }
    }
  }
}
