.VideoMessage .rv-icon {
  font-size: 60px;
}
.VideoMessage .myMessage {
  margin-right: 12px;
}
.VideoMessage .otherMessage {
  margin-left: 12px;
}
.VideoMessage .messageBox {
  width: 200px;
  height: 240px;
  border-radius: 8px;
  overflow: hidden;
}
.VideoMessage .messageBox .SendVideoInfo {
  height: 100% !important;
}
