#InfoView .userInfoContainer {
  width: 100vw;
  height: 250px;
  position: relative;
}
#InfoView .userInfoContainer .topButtom {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 12px;
  z-index: 3;
}
#InfoView .userInfoContainer .user_bg_image {
  position: absolute;
  width: 100%;
  height: 100%;
}
#InfoView .userInfoContainer .user_bg_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#InfoView .userInfoContainer .user_data {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}
#InfoView .userInfoContainer .user_data .user_basic_info {
  padding: 0 14px;
  position: absolute;
  bottom: 10px;
}
#InfoView .userInfoContainer .user_data .user_basic_info .info_btn_list {
  display: flex;
  align-items: center;
}
#InfoView .userInfoContainer .user_data .user_basic_info .info_btn_list .chatBtn {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.272);
}
#InfoView .userInfoContainer .user_data .user_basic_info .info_item:not(:last-child) {
  margin-bottom: 8px;
}
#InfoView .userInfoContainer .user_data .user_basic_info .rv-button--small {
  padding: 0 17px;
}
#InfoView .userInfoContainer .user_data .user_basic_info .top_info {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
}
#InfoView .userInfoContainer .user_data .user_basic_info .top_info .rv-image {
  width: 60px;
  height: 60px;
}
#InfoView .userInfoContainer .user_data .user_basic_info .top_info .info_follow {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
#InfoView .userInfoContainer .user_data .user_basic_info .top_info .info_follow .followItem {
  margin-right: 15px;
  font-size: 12px;
}
#InfoView .userInfoContainer .user_data .user_basic_info .top_info .info_follow .followItem span {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-right: 3px;
}
#InfoView .userInfoContainer .user_data .user_basic_info .info_intro .rv-typography {
  color: #eeeeee !important;
}
#InfoView .userInfoContainer .user_data .user_basic_info .info_other {
  display: flex;
  align-items: center;
}
#InfoView .userInfoContainer .user_data .user_basic_info .info_other .target_item {
  margin-right: 15px;
  color: #fff;
  background-color: #ffffff41;
  padding: 5px 10px;
  zoom: 0.8;
}
#InfoView .userInfoContainer .user_data .user_basic_info .info_operation {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#InfoView .userInfoContainer .user_data .user_basic_info .info_operation .ope_item {
  color: #fff;
  padding: 6px 14px;
  background-color: #ffffff46;
}
#InfoView .userInfoContainer .btnItem {
  width: 80px;
  height: 30px;
  text-align: center;
  color: #fff;
  outline: none;
  border: 0;
  border-radius: 3px;
  font-size: 12px;
}
#InfoView .userInfoContainer .followBtn {
  background-color: #ffffff4d;
}
#InfoView .userInfoContainer .unFollowBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409eff;
}
#InfoView .rv-tabs__wrap {
  height: 40px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}
#InfoView .routerContainer {
  padding: 8px 12px;
}
