.VideoItem {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.VideoItem .itemCoverImg {
  width: 100%;
  background-color: #000;
  aspect-ratio: 1/1.2;
  position: relative;
}
.VideoItem .itemCoverImg .collectMask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #ff0000ce;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 4px;
  text-indent: 4px;
}
.VideoItem .itemCoverImg .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.438);
}
.VideoItem .itemCoverImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.VideoItem .itemInfo {
  padding: 8px 6px;
}
.VideoItem .itemInfo .rv-typography__text {
  font-size: 14px;
}
.VideoItem .itemInfo .infoTime {
  margin-top: 6px;
  font-size: 12px;
  color: #cfcfcf;
}
.VideoItem .itemInfo .creator {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 13px;
}
.VideoItem .itemInfo .creator .rv-image {
  margin-right: 5px;
}
