#MessageView {
  height: 100%;
  min-height: 100%;
  .messageList {
    padding: 0 10px;
    border-bottom: 7px solid #f9f9f9;
    .rv-icon-arrow {
      font-size: 20px;
      color: #ccc;
    }
  }
}