._CommentItem {
  padding: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 10px;
}
._CommentItem:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
._CommentItem .itemInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}
._CommentItem .itemInfo:not(:last-child) {
  padding-bottom: 10px;
}
._CommentItem .itemInfo .itemLeft {
  color: #b1b1b1;
}
._CommentItem .itemInfo .itemRight {
  display: flex;
  align-items: center;
}
