#SearchDetail .rv-tabs__wrap {
  height: 35px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}
#SearchDetail .listContainer {
  padding: 0 10px;
}
#SearchDetail .videoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
