.CategoryNav {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0.4688rem;
}
.CategoryNav::after {
  position: absolute;
  content: "";
  width: 0.125rem;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #409eff;
}
.CategoryNav span {
  font-size: 0.4063rem;
  font-weight: bold;
  color: #409eff;
  margin-left: 0.3125rem;
  position: relative;
  top: -1px;
}
