#InfoCollect .typeToggle {
  display: flex;
  align-items: center;
}
#InfoCollect .typeToggle .typeItem {
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.375rem;
  background-color: #f0f0f0;
  border-radius: 0.1875rem;
  zoom: 0.8;
}
#InfoCollect .typeToggle .activeItem {
  box-sizing: border-box;
  border: 1px solid #409eff;
  background-color: #40a0ff34;
  color: #409eff;
}
#InfoCollect .collectVideoList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.3125rem;
  margin-top: 0.3125rem;
}
