#InfoCollect .typeToggle {
  display: flex;
  align-items: center;
}
#InfoCollect .typeToggle .typeItem {
  padding: 8px 16px;
  margin-right: 16px;
  font-size: 12px;
  background-color: #f0f0f0;
  border-radius: 6px;
  zoom: 0.8;
}
#InfoCollect .typeToggle .activeItem {
  box-sizing: border-box;
  border: 1px solid #409eff;
  background-color: #40a0ff34;
  color: #409eff;
}
#InfoCollect .collectVideoList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}
