#NavBar {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.3125rem;
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#NavBar .commnentInput {
  width: 55%;
  margin-right: 0.4688rem;
}
#NavBar .commnentInput input {
  width: 100%;
  outline: none;
  border: 0;
  padding: 0.2188rem 0.3125rem;
  background-color: #f7f7f7;
  border-radius: 0.625rem;
}
#NavBar .dataInfo {
  flex: 1;
  margin-left: 0.4688rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
