._VideoItem {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 8px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  .dataItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .item {
      flex: 1;
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #8f8f8f;
      div {
        margin-left: 5px;
      }
    }
  }
  .infoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .leftInfo {
      font-size: 13px;
    }
  }
  .btnList {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
}