._VideoItem {
  padding: 0.3125rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}
._VideoItem:not(:last-child) {
  margin-bottom: 0.3125rem;
}
._VideoItem .dataItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.3125rem;
}
._VideoItem .dataItem .item {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 0.375rem;
  color: #8f8f8f;
}
._VideoItem .dataItem .item div {
  margin-left: 0.1563rem;
}
._VideoItem .infoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3125rem;
}
._VideoItem .btnList {
  margin-top: 0.3125rem;
  display: flex;
  justify-content: flex-end;
}
