._VideoItem {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
._VideoItem:not(:last-child) {
  margin-bottom: 10px;
}
._VideoItem .dataItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
._VideoItem .dataItem .item {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #8f8f8f;
}
._VideoItem .dataItem .item div {
  margin-left: 5px;
}
._VideoItem .infoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
._VideoItem .infoItem .leftInfo {
  font-size: 13px;
}
._VideoItem .btnList {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
