.VideoInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.VideoInfo:not(:last-child) {
  margin-bottom: 10px;
}
.VideoInfo .leftInfo {
  font-size: 13px;
  width: 50vw;
}
.VideoInfo .leftInfo .infoTitle {
  margin-bottom: 6px;
}
.VideoInfo .leftInfo .infoTitle .rv-typography__text {
  font-weight: bold;
  font-size: 14px;
}
.VideoInfo .leftInfo .infoTime {
  font-size: 12px;
  color: #b0b0b0;
}
.VideoInfo .rightInfo .video_cover {
  width: 30vw;
  aspect-ratio: 2/1.5;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.VideoInfo .rightInfo .video_cover .rv-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.VideoInfo .rightInfo .video_cover img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
