body {
  margin: 0;
  padding: 0;
}

:root:root {
  --rv-tag-large-font-size: .375rem;
  --rv-action-sheet-item-font-size: .4375rem;
  --rv-primary-color: #409eff;
  --rv-badge-background-color: #409eff;
  --rv-font-size-md: .4063rem;
  --rv-nav-bar-title-font-size: .4063rem;
  --rv-share-sheet-cancel-button-font-size: .4375rem;
}

@media screen and (min-width: 680px) {
  #App {
    width: 40vw;
    margin: 0 auto;
    height: 100vh; 
  }
}

@media screen and (max-width: 680px) {
  #App {
    width: 100vw;
    height: 100vh; 
  }
}