body {
  margin: 0;
  padding: 0;
}

:root:root {
  --rv-action-sheet-item-font-size: .4375rem;
  --rv-primary-color: #409eff;
  --rv-badge-background-color: #409eff;
  --rv-font-size-md: .4063rem;
  --rv-nav-bar-title-font-size: .4063rem;
  --rv-share-sheet-cancel-button-font-size: .4375rem;
}