.CommentItem {
  display: flex;
  margin-bottom: 10px;
  .itemAvatar {
    .rv-image {
      width: 35px;
      height: 35px;
    }
  }
  .itemInfo {
    width: 86%;
    margin-right: 5px;
    margin-left: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    .topInfo {
      padding: 7px 0;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .rightInfo {
        display: flex;
        align-items: center;
        font-weight: normal;
        color: #9e9e9e;
        span {
          margin-left: 5px;
          position: relative;
          top: 1px;
        }
      }
    }
    .contentInfo {
      padding: 5px 0 10px;
      font-size: 14px;
      word-wrap:break-word; 
      width: 80vw;
      line-height: 20px;
    }
    .detailInfo {
      color: #8c8c8c;
      zoom: .9;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .leftInfo {
        display: flex;
        align-items: center;
      }
      .replyInfo {
        display: flex;
        align-items: center;
        margin-right: 8px;
        font-size: 13px;
        padding: 6px 8px 6px 12px;
        border-radius: 15px;
        background-color: #f9f9f9;
        zoom: .8;
      }
    }
  }
}