#CollectView {
  .rv-tabs__wrap {
    height: 35px;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .1);
  }
  .collectItem {
    padding: 10px 13px;
    &:not(:last-child) {
      border-bottom: 1px solid #f4f4f4;
    }
    .ArticleItem {
      padding: 0;
      border-bottom: 0;
      .rv-swipe-cell__right {
        right: -1px;
      }
    }
  }
  .collectVideoContainer {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}