#CollectView .rv-tabs__wrap {
  height: 35px;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}
#CollectView .collectItem {
  padding: 10px 13px;
}
#CollectView .collectItem:not(:last-child) {
  border-bottom: 1px solid #f4f4f4;
}
#CollectView .collectItem .ArticleItem {
  padding: 0;
  border-bottom: 0;
}
#CollectView .collectItem .ArticleItem .rv-swipe-cell__right {
  right: -1px;
}
#CollectView .collectVideoContainer {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
