#CollectView {
  .rv-tabs__wrap {
    height: 1.0938rem;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .1);
  }
  .collectItem {
    padding: .3125rem;
    &:not(:last-child) {
      border-bottom: .25rem solid #f4f4f4;
    }
    .ArticleItem {
      padding: 0;
      border-bottom: 0;
      .rv-swipe-cell__right {
        right: -1px;
      }
    }
  }
  .collectVideoContainer {
    padding: .3125rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .4688rem;
  }
}