#CollectView .rv-tabs__wrap {
  height: 1.0938rem;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}
#CollectView .collectItem {
  padding: 0.3125rem;
}
#CollectView .collectItem:not(:last-child) {
  border-bottom: 0.25rem solid #f4f4f4;
}
#CollectView .collectItem .ArticleItem {
  padding: 0;
  border-bottom: 0;
}
#CollectView .collectItem .ArticleItem .rv-swipe-cell__right {
  right: -1px;
}
#CollectView .collectVideoContainer {
  padding: 0.3125rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.4688rem;
}
